.product-box {
  display: flex;
  flex-flow: column;

  .product_title_box {
    margin-bottom: 24px;
    h2, h3 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 0;
      @media (min-width:768px) {
        font-size: 28px;
        line-height: 40px;
      

      }
    }
  }


  .sale-price {
    font-size: 8px;
    font-weight: 800;
    padding:3px 6px;
  }

  .oldPrice {
    
    @media (min-width:768px)  {
      font-size: 14px;
      margin-bottom: 3px;
    }
    font-weight: 300;


  }

  .cost {
    @media (min-width:768px) {
      font-size: 28px;
    }
    
    font-weight: 300;
  }

  .offerTag {
    font-size: 14px;
  }
}

.tachado {text-decoration:line-through;}

.gal-main-img {
  justify-content: center;
  > a {
    width: 100%;
  }
  
}

.conditions-price-box {
  display: flex;
  flex-flow: column;

  @media (min-width:768px) {
    flex-flow: column;

  }
}

@media (min-width:768px){
  .product-box {
  display: block;
  flex-flow: inherit;
}


.col-prod-l-sm {
  width:55%;
  float: left;
}

.col-prod-r-sm {
  width:calc(45% - 20px);
  float: right;
}

.product-box > div {
  order:0;
}

}


