$primary:          #785EE5;


$gray-light:  #f7f6f9;
$bt_pink:         #DE5AA5;
$bt_purple:       $primary;
$bt_green:        #64D4C7;
$bt_yellow:       #F6BD84;
$bt_blue:         #509EF7;

$bt_black:        #000000;
$bt_gray:         #4C4C4C;
$bt_gray_light:   #999999;
$bt_gray_lighter: #EBEAF1;
$bt_gray_bg:      #F7F6F9;





//colores de font
$black-text: #222;