// Body
//$body-bg: #f8fafc;
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Muli', 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Custom variables

// Descriptive color variables

$primary: #785EE5;

$bt_pink:         #DE5AA5;
$bt_purple:       $primary;
$bt_green:        #64D4C7;
$bt_yellow:       #F6BD84;
$bt_blue:         #509EF7;

$bt_black:        #000000;
$bt_gray:         #4C4C4C;
$bt_gray_light:   #999999;
$bt_gray_lighter: #EBEAF1;
$bt_gray_bg:      #F7F6F9;


$gray: #4c4c4c;
$gray-text: #4c4c4c;
$gray-light:#999999;
$gray-extra-light:#f7f6f9;

// Functional color variables

// Font stacks

// Asset paths
// $path-image   :   '../img';
// $path-fonts     :  '../fonts';

